{%extends 'base.html'%}
{% block title %}
    Detect    
{% endblock  %}
{% block navbar-content %}
<i class="fas fa-stethoscope"></i>&nbsp;&nbsp;Detect
{% endblock navbar-content %}
{% block navbar-item %}
<a class="navbar-brand flex-grow-1" href="{% url 'backend' %}" style="text-align: center; color: #f1f1f1; margin-left: 25px;">                        
    <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;&nbsp; 測量
</a>
<a class="navbar-brand flex-grow-1" href="{% url 'history' %}" style="text-align: center; color: #f1f1f1; margin-left: 25px;">                          
    <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;&nbsp; 歷史紀錄
</a> 

<a class="navbar-brand flex-grow-1" href="{% url 'exercise' %}" style="text-align: center; color: #f1f1f1; margin-left: 25px;">                          
    <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;&nbsp; 動態ECG分析區
</a> 
<a class="navbar-brand flex-grow-1" href="{% url 'meditation' %}" style="text-align: center; color: #f1f1f1; margin-left: 25px;">                          
    <i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;&nbsp; EEG靜態分析區
</a> 
{% endblock navbar-item %}
{% block nav-btn %}
<a class="btn btn-outline-danger border-light text-light btn-sm" id="btn-nav" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Logout</a>
{% endblock nav-btn %}
{%block content%}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
    <div id="ECGcontainer" style="width: 500px;"></div>
</body>
<script>
    var ECGdata = 0;
    var ECGArray = [];

    const linkInit = async ( method ) => {
        try{
            //use api return 200
            const response = await axios.get('http://10.10.10.59:1234/init',{
                //delay 2s
                timeout: 2000 
            })

            if(method) {
                //delay over
                method()
            }
        }
        catch (e) {
            console.log(e)
            alert("Haven't connect to ESP32 yet!")
        }
    }

    const getData = async () => {
        try{
            const response = await axios.get('http://10.10.10.59:1234/test')
            ECGdata = response?.data.val
            console.log(ECGdata)
        
        }
        catch (e) {
            console.log(e)
        }

        return ECGdata
    }

    // Create the chart
    Highcharts.stockChart('ECGcontainer', {
        chart: {
            events: {
                load: function () {

                    const start2GetData = () => {
                        // set up the updating of the chart each second
                        const series = this.series[0];
                        const test = setInterval(() => {
                            getData()
                            var x,y; // current time
                                
                            for(i=0;i<ECGdata.length;i++){
                                x = (new Date()).getTime()
                                y=ECGdata[i]
                                ECGArray.push(y.toString())
                                series.addPoint([x, y], true, true);
                            }
                            
                            
                            if(ECGArray.length>3000){
                                console.log(ECGArray);
                                clearInterval(test);
                            }
                                // console.log(y)
                            
                        }, 100);
                    }

                    linkInit(
                        start2GetData
                    )
                }
            }
        },

        time: {
            useUTC: false
        },

        rangeSelector: {
            buttons: [{
                count: 1,
                type: 'minute',
                text: '1M'
            }, {
                count: 5,
                type: 'minute',
                text: '5M'
            }, {
                type: 'all',
                text: 'All'
            }],
            inputEnabled: false,
            selected: 0
        },

        title: {
            text: 'Real-Time ECG data'
        },

        exporting: {
            enabled: false
        },

        series: [{
            name: 'ECG data',
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = 0; i <= 20; i += 1) {
                    data.push([
                        0
                    ]);
                }
                return data;
            }())
        }],
        credits: false
    });
  
        $(document).ready(function(){
            $('button').on('click', function() {
            var tasks = ECGArray;
            console.log(ECGArray)
            $.ajax({
                type: 'POST',
                url: '/backend/',
                data: {'tasks': ECGArray},
            });
        });
        });
            
</script>

<button class="btn btn-primary" type="submit">Save</button>


{% endblock %}